<% include partials/header%>
 <div class="container">
     <div class="jumbotron m-4">
        
        <div class="text-center"><strong>Add/Delete/view  Clinic(Admin Panel)</strong>
        <a class="btn btn-primary btn-sm" href="/clinic/new">Add New Clinic</a>
        <a class="btn btn-danger btn-sm" href="/logout">Logout</a>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-12">
           <h3>Meet Your Doctor</h3>
       </div>  
    
     <%clinic.forEach(function(clinics){%>
       
        <div class="col-md-3 col-sm-6 mb-4">
              <div class="card">
                <img class="card-img-top"style="height:10rem" src="https://www.onlinelogomaker.com/blog/wp-content/uploads/2017/07/medical-logo.jpg" alt="">
                    <div class="card-body">
                      <h4 class="card-title"><%=clinics.name%></h4>
                      <p class="card-text"><%=clinics.speciality%></p>
                      <p class="card-text">Opening/Closing Time</p>
                      <p class="card-text"><%=clinics.otime%>AM-<%=clinics.ctime%>PM</p>
                    </div>
                        <div class="card-footer">
                           
                          <form  action="/clinic/<%=clinics._id%>?_method=DELETE" method="POST"   >
                          <button class="btn btn-sm btn-danger ">Delete</button>
                          
                          </form>
                          <a class="btn btn-sm btn-primary " href="/clinic/<%=clinics.id%>/record">Booking Record</a>
                                      <a href="/clinic/<%=clinics._id%>/update" class="btn btn-primary btn-sm ">update Clinic</a>
                                     

                        </div>
                </div>
        </div>
        <% })%>
    </div>


<% include partials/footer%>